pre {
  white-space: break-spaces;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid #fcee0c;
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 16px;
  color: #fcee0c;
  width: 50%;
  margin: 0 auto;

  &::placeholder {
    color: #fcee0c;
  }

  &:focus {
    outline: none;
    color: #fff;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
      0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 760px;
  padding: 3rem;
}

.card {
  background: #fcee0c;
  color: #001eff;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
  transform: scale(1);

  &::after {
    content: "";
    box-shadow: 5px 5px green;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
