<div class="header">
  <input
    id="search-input"
    #searchbox
    class="neonText"
    type="text"
    (input)="handleChange(searchbox.value)"
    placeholder="Enter test type ids comma separated"
  />

  <p *ngIf="error">{{ error }}</p>
</div>

<div *ngIf="testTypesToShow.size" class="wrapper">
  <div class="cards">
    <div
      *ngFor="
        let test of testTypesToShow | keyvalue;
        let i = index;
        trackBy: trackByFn
      "
      class="card"
      appIntersectionObserver
      #intersection="intersection"
      [class.card--intersecting]="intersection.intersecting"
      (isIntersecting)="isIntersecting($event, i)"
      [isContinuous]="true"
    >
      <h1 class="card__label">{{ test.key }}</h1>
      <div class="card__content">
        <pre>{{ test.value | json }}</pre>
      </div>
    </div>
  </div>
</div>
